<div id="map-index">

<!-- The class="index" in the h1 tag below is needed (the users.js file is looking for it); please don't remove it -->
<h3 class="index"></h3>

	<div class="ui two column centered grid">
		<div class="column first">
		  <div class ="search-container">
		    <%= form_tag("/search", method: "get") do %>
		      <%= label_tag(:q, "Search for a category:", ) %><br>
		      <%= text_field_tag(:q, nil, class:"user_term", autofocus: true) %>
		      <%= submit_tag("Search") %>
		    <% end %>
		  </div>
	  </div>
	</div>

		<div class="ui grid">
			<div class="three column row">
			<!-- need both friends and show IDs; please don't remove -->
				<div class="two wide column"><button id="friends">See Who's Logged In!</button></div>
				<div class="two wide column" id="show"></div>
				<div class="twelve wide column"><div id='map'></div></div>
				<div class="two wide column"></div>
			</div>
		</div>

			<div class="column first">
				<div id='map'></div>
			</div>

</div>

<!-- <div class="ui grid">
	<div id='map' class="eight column row"></div>
</div> -->





